USE [LeaveManagementDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_BusinessDaysBetween]    Script Date: 10/26/2025 2:45:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Count business days between @from..@to inclusive (loop-based for compatibility)
CREATE   FUNCTION [dbo].[fn_BusinessDaysBetween] (@from DATE, @to DATE)
RETURNS INT
AS
BEGIN
    IF (@from IS NULL OR @to IS NULL OR @from > @to) RETURN 0;

    DECLARE @cnt INT = 0;
    DECLARE @d DATE = @from;
    WHILE (@d <= @to)
    BEGIN
        IF dbo.fn_IsBusinessDay(@d) = 1
            SET @cnt += 1;
        SET @d = DATEADD(DAY, 1, @d);
    END
    RETURN @cnt;
END

GO
/****** Object:  UserDefinedFunction [dbo].[fn_IsBusinessDay]    Script Date: 10/26/2025 2:45:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Business day = not weekend and not holiday
CREATE   FUNCTION [dbo].[fn_IsBusinessDay] (@d DATE)
RETURNS BIT
AS
BEGIN
    IF dbo.fn_IsWeekend(@d) = 1 RETURN 0;
    IF EXISTS (SELECT 1 FROM dbo.Holidays h WHERE h.HolidayDate = @d) RETURN 0;
    RETURN 1;
END

GO
/****** Object:  UserDefinedFunction [dbo].[fn_IsWeekend]    Script Date: 10/26/2025 2:45:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 2) HELPER FUNCTIONS (DATE/WEEKEND/BUSINESS DAYS)
------------------------------------------------------------

-- Weekend check independent of SET DATEFIRST
CREATE   FUNCTION [dbo].[fn_IsWeekend] (@d DATE)
RETURNS BIT
AS
BEGIN
    -- 1900-01-01 is Monday; Saturday=5, Sunday=6 with this mapping
    DECLARE @dow INT = (DATEDIFF(DAY, '19000101', @d) % 7);
    RETURN IIF(@dow IN (5,6), 1, 0);
END

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/26/2025 2:45:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleCode] [nvarchar](30) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Features]    Script Date: 10/26/2025 2:45:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Features](
	[FeatureID] [int] IDENTITY(1,1) NOT NULL,
	[FeatureCode] [nvarchar](50) NOT NULL,
	[FeatureName] [nvarchar](150) NOT NULL,
	[Path] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[FeatureCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleFeatures]    Script Date: 10/26/2025 2:45:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleFeatures](
	[RoleID] [int] NOT NULL,
	[FeatureID] [int] NOT NULL,
 CONSTRAINT [PK_RoleFeatures] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[FeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/26/2025 2:45:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](20) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](120) NOT NULL,
	[Email] [nvarchar](120) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Gender] [tinyint] NULL,
	[DOB] [date] NULL,
	[HireDate] [date] NULL,
	[DivisionID] [int] NOT NULL,
	[PositionTitle] [nvarchar](80) NULL,
	[CurrentManagerID] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 10/26/2025 2:45:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[AssignedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_UserRoleFeatures]    Script Date: 10/26/2025 2:45:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 4) VIEWS & STORED PROCEDURES
------------------------------------------------------------

-- View: User ↔ Role ↔ Feature
CREATE   VIEW [dbo].[v_UserRoleFeatures]
AS
SELECT 
    u.UserID, u.Username, u.FullName, r.RoleCode, r.RoleName,
    f.FeatureCode, f.FeatureName, f.Path
FROM dbo.Users u
JOIN dbo.UserRoles ur ON ur.UserID = u.UserID
JOIN dbo.Roles r ON r.RoleID = ur.RoleID
JOIN dbo.RoleFeatures rf ON rf.RoleID = r.RoleID
JOIN dbo.Features f ON f.FeatureID = rf.FeatureID
WHERE u.IsActive = 1 AND r.IsActive = 1 AND f.IsActive = 1;

GO
/****** Object:  View [dbo].[v_UserSubordinates]    Script Date: 10/26/2025 2:45:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View: All subordinates (recursive)
CREATE   VIEW [dbo].[v_UserSubordinates]
AS
WITH cte AS (
    SELECT u.UserID, u.FullName, u.CurrentManagerID, u.UserID AS RootID, 0 AS LevelDepth
    FROM dbo.Users u
    UNION ALL
    SELECT u2.UserID, u2.FullName, u2.CurrentManagerID, cte.RootID, cte.LevelDepth + 1
    FROM dbo.Users u2
    JOIN cte ON u2.CurrentManagerID = cte.UserID
)
SELECT * FROM cte;

GO
/****** Object:  Table [dbo].[LeaveTypes]    Script Date: 10/26/2025 2:45:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveTypes](
	[LeaveTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeCode] [nvarchar](30) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[RequiresApproval] [bit] NOT NULL,
	[DefaultAnnualQuota] [decimal](5, 2) NOT NULL,
	[MaxConsecutiveDays] [int] NULL,
	[Description] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LeaveTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TypeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveBalances]    Script Date: 10/26/2025 2:45:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveBalances](
	[UserID] [int] NOT NULL,
	[LeaveTypeID] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[BalanceDays] [decimal](6, 2) NOT NULL,
	[UsedDays] [decimal](6, 2) NOT NULL,
	[CarryOver] [decimal](6, 2) NOT NULL,
 CONSTRAINT [PK_LeaveBalances] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[LeaveTypeID] ASC,
	[Year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_UserLeaveBalanceCurrent]    Script Date: 10/26/2025 2:45:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- NEW View: Current year leave balance for all users
CREATE   VIEW [dbo].[v_UserLeaveBalanceCurrent]
AS
SELECT 
    u.UserID, u.FullName, u.Username,
    lb.[Year], lt.LeaveTypeID, lt.TypeCode, lt.TypeName,
    lb.BalanceDays, lb.UsedDays, lb.CarryOver
FROM dbo.LeaveBalances lb
JOIN dbo.Users u  ON u.UserID = lb.UserID
JOIN dbo.LeaveTypes lt ON lt.LeaveTypeID = lb.LeaveTypeID
WHERE lb.[Year] = YEAR(GETDATE());

GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 10/26/2025 2:45:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[LogID] [bigint] IDENTITY(1,1) NOT NULL,
	[EntityName] [nvarchar](80) NOT NULL,
	[EntityKey] [nvarchar](120) NOT NULL,
	[Action] [nvarchar](20) NOT NULL,
	[ActorUserID] [int] NULL,
	[ActionAt] [datetime2](0) NOT NULL,
	[Message] [nvarchar](1000) NULL,
	[TargetRequestID] [int] NULL,
	[OldStatus] [nvarchar](50) NULL,
	[NewStatus] [nvarchar](50) NULL,
	[OccurredAt] [datetime2](0) NOT NULL,
	[ActionType] [nvarchar](20) NOT NULL,
	[Note] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Divisions]    Script Date: 10/26/2025 2:45:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Divisions](
	[DivisionID] [int] IDENTITY(1,1) NOT NULL,
	[DivisionCode] [nvarchar](20) NOT NULL,
	[DivisionName] [nvarchar](100) NOT NULL,
	[ParentDivisionID] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DivisionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DivisionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DivisionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holidays]    Script Date: 10/26/2025 2:45:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holidays](
	[HolidayDate] [date] NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[HolidayDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveReasonOptions]    Script Date: 10/26/2025 2:45:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveReasonOptions](
	[ReasonOptionID] [int] IDENTITY(1,1) NOT NULL,
	[LeaveTypeID] [int] NOT NULL,
	[ReasonCode] [nvarchar](40) NOT NULL,
	[ReasonName] [nvarchar](120) NOT NULL,
	[RequiresAttachment] [bit] NOT NULL,
	[Description] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReasonOptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_LeaveReasonOptions] UNIQUE NONCLUSTERED 
(
	[LeaveTypeID] ASC,
	[ReasonCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveRequestChangeLog]    Script Date: 10/26/2025 2:45:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRequestChangeLog](
	[ChangeID] [bigint] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NOT NULL,
	[ChangedByUserID] [int] NULL,
	[ChangeAt] [datetime2](0) NOT NULL,
	[FieldName] [nvarchar](64) NOT NULL,
	[OldValue] [nvarchar](4000) NULL,
	[NewValue] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ChangeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveRequestHistory]    Script Date: 10/26/2025 2:45:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRequestHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NOT NULL,
	[FromStatusID] [int] NULL,
	[ToStatusID] [int] NOT NULL,
	[ActionByUserID] [int] NOT NULL,
	[ActionAt] [datetime2](0) NOT NULL,
	[Note] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveRequests]    Script Date: 10/26/2025 2:45:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[RequestCode]  AS ('LR'+right(replicate('0',(6))+CONVERT([nvarchar](6),[RequestID]),(6))) PERSISTED,
	[CreatedByUserID] [int] NOT NULL,
	[LeaveTypeID] [int] NOT NULL,
	[ReasonOptionID] [int] NULL,
	[FromDate] [date] NOT NULL,
	[ToDate] [date] NOT NULL,
	[Reason] [nvarchar](1000) NULL,
	[CurrentStatusID] [int] NOT NULL,
	[DaysCalendar] [int] NULL,
	[DaysBusiness] [int] NULL,
	[ApprovedByUserID] [int] NULL,
	[ApprovedAt] [datetime2](0) NULL,
	[RejectedNote] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestAttachments]    Script Date: 10/26/2025 2:45:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestAttachments](
	[AttachmentID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[UploadedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AttachmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestStatuses]    Script Date: 10/26/2025 2:45:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusCode] [nvarchar](30) NOT NULL,
	[StatusName] [nvarchar](80) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[IsFinal] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[StatusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserManagerHistory]    Script Date: 10/26/2025 2:45:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserManagerHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ManagerID] [int] NULL,
	[EffectiveFrom] [date] NOT NULL,
	[EffectiveTo] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  CONSTRAINT [DF_AuditLogs_EntityName]  DEFAULT (N'LeaveRequest') FOR [EntityName]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  CONSTRAINT [DF_AuditLogs_EntityKey]  DEFAULT (N'') FOR [EntityKey]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (sysdatetime()) FOR [ActionAt]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  CONSTRAINT [DF_AuditLogs_OccurredAt]  DEFAULT (sysutcdatetime()) FOR [OccurredAt]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (N'CREATE') FOR [ActionType]
GO
ALTER TABLE [dbo].[Divisions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Divisions] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Divisions] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Features] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LeaveBalances] ADD  DEFAULT ((0)) FOR [BalanceDays]
GO
ALTER TABLE [dbo].[LeaveBalances] ADD  DEFAULT ((0)) FOR [UsedDays]
GO
ALTER TABLE [dbo].[LeaveBalances] ADD  DEFAULT ((0)) FOR [CarryOver]
GO
ALTER TABLE [dbo].[LeaveReasonOptions] ADD  DEFAULT ((0)) FOR [RequiresAttachment]
GO
ALTER TABLE [dbo].[LeaveReasonOptions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LeaveRequestChangeLog] ADD  DEFAULT (sysdatetime()) FOR [ChangeAt]
GO
ALTER TABLE [dbo].[LeaveRequestHistory] ADD  DEFAULT (sysdatetime()) FOR [ActionAt]
GO
ALTER TABLE [dbo].[LeaveRequests] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LeaveRequests] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[LeaveTypes] ADD  DEFAULT ((1)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[LeaveTypes] ADD  DEFAULT ((1)) FOR [RequiresApproval]
GO
ALTER TABLE [dbo].[LeaveTypes] ADD  DEFAULT ((12.00)) FOR [DefaultAnnualQuota]
GO
ALTER TABLE [dbo].[LeaveTypes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RequestAttachments] ADD  DEFAULT (sysdatetime()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[RequestStatuses] ADD  DEFAULT ((0)) FOR [IsFinal]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserRoles] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[UserRoles] ADD  DEFAULT (sysdatetime()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Requests] FOREIGN KEY([TargetRequestID])
REFERENCES [dbo].[LeaveRequests] ([RequestID])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Requests]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Users] FOREIGN KEY([ActorUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Users]
GO
ALTER TABLE [dbo].[Divisions]  WITH CHECK ADD FOREIGN KEY([ParentDivisionID])
REFERENCES [dbo].[Divisions] ([DivisionID])
GO
ALTER TABLE [dbo].[LeaveBalances]  WITH CHECK ADD FOREIGN KEY([LeaveTypeID])
REFERENCES [dbo].[LeaveTypes] ([LeaveTypeID])
GO
ALTER TABLE [dbo].[LeaveBalances]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[LeaveReasonOptions]  WITH CHECK ADD FOREIGN KEY([LeaveTypeID])
REFERENCES [dbo].[LeaveTypes] ([LeaveTypeID])
GO
ALTER TABLE [dbo].[LeaveRequestChangeLog]  WITH CHECK ADD FOREIGN KEY([ChangedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[LeaveRequestChangeLog]  WITH CHECK ADD FOREIGN KEY([RequestID])
REFERENCES [dbo].[LeaveRequests] ([RequestID])
GO
ALTER TABLE [dbo].[LeaveRequestHistory]  WITH CHECK ADD FOREIGN KEY([ActionByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[LeaveRequestHistory]  WITH CHECK ADD FOREIGN KEY([FromStatusID])
REFERENCES [dbo].[RequestStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[LeaveRequestHistory]  WITH CHECK ADD FOREIGN KEY([RequestID])
REFERENCES [dbo].[LeaveRequests] ([RequestID])
GO
ALTER TABLE [dbo].[LeaveRequestHistory]  WITH CHECK ADD FOREIGN KEY([ToStatusID])
REFERENCES [dbo].[RequestStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD FOREIGN KEY([ApprovedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD FOREIGN KEY([CurrentStatusID])
REFERENCES [dbo].[RequestStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD FOREIGN KEY([LeaveTypeID])
REFERENCES [dbo].[LeaveTypes] ([LeaveTypeID])
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD FOREIGN KEY([ReasonOptionID])
REFERENCES [dbo].[LeaveReasonOptions] ([ReasonOptionID])
GO
ALTER TABLE [dbo].[RequestAttachments]  WITH CHECK ADD FOREIGN KEY([RequestID])
REFERENCES [dbo].[LeaveRequests] ([RequestID])
GO
ALTER TABLE [dbo].[RoleFeatures]  WITH CHECK ADD FOREIGN KEY([FeatureID])
REFERENCES [dbo].[Features] ([FeatureID])
GO
ALTER TABLE [dbo].[RoleFeatures]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[UserManagerHistory]  WITH CHECK ADD FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserManagerHistory]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([CurrentManagerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([DivisionID])
REFERENCES [dbo].[Divisions] ([DivisionID])
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [CK_LeaveRequests_Date] CHECK  (([FromDate]<=[ToDate]))
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [CK_LeaveRequests_Date]
GO
/****** Object:  StoredProcedure [dbo].[sp_AgendaByDivision]    Script Date: 10/26/2025 2:45:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Proc: Agenda by Division (ON/OFF per day)
CREATE   PROCEDURE [dbo].[sp_AgendaByDivision]
    @DivisionID INT,
    @From DATE,
    @To   DATE
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH d AS (
        SELECT @From AS dt
        UNION ALL
        SELECT DATEADD(DAY, 1, dt) FROM d WHERE dt < @To
    ),
    emp AS (
        SELECT u.UserID, u.FullName
        FROM dbo.Users u
        WHERE u.DivisionID = @DivisionID AND u.IsActive = 1
    ),
    days AS (
        SELECT e.UserID, e.FullName, d.dt
        FROM emp e CROSS JOIN d
    ),
    leaves AS (
        SELECT r.CreatedByUserID AS UserID, r.FromDate, r.ToDate
        FROM dbo.LeaveRequests r
        JOIN dbo.RequestStatuses s ON s.StatusID = r.CurrentStatusID AND s.StatusCode = N'APPROVED'
        WHERE r.FromDate <= @To AND r.ToDate >= @From
    )
    SELECT 
        dy.FullName,
        dy.dt AS WorkingDate,
        CASE 
            WHEN dbo.fn_IsBusinessDay(dy.dt) = 0 THEN N'—'    -- weekend/holiday
            WHEN EXISTS (SELECT 1 FROM leaves l WHERE l.UserID = dy.UserID AND dy.dt BETWEEN l.FromDate AND l.ToDate)
                THEN N'OFF' 
            ELSE N'ON'
        END AS Attendance
    FROM days dy
    OPTION (MAXRECURSION 32767);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_CreateLeaveRequest]    Script Date: 10/26/2025 2:45:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Proc: Create request (now supports ReasonOptionID)
CREATE   PROCEDURE [dbo].[sp_CreateLeaveRequest]
    @CreatedByUserID INT,
    @LeaveTypeID INT,
    @FromDate DATE,
    @ToDate   DATE,
    @Reason   NVARCHAR(1000) = NULL,
    @ReasonOptionID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @InprogressID INT = (SELECT TOP 1 StatusID FROM dbo.RequestStatuses WHERE StatusCode = N'INPROGRESS');

    IF @ReasonOptionID IS NOT NULL AND NOT EXISTS (
        SELECT 1 FROM dbo.LeaveReasonOptions 
        WHERE ReasonOptionID = @ReasonOptionID AND LeaveTypeID = @LeaveTypeID AND IsActive = 1
    )
    BEGIN
        RAISERROR (N'Lý do chọn không hợp lệ cho loại phép.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.LeaveRequests(CreatedByUserID, LeaveTypeID, ReasonOptionID, FromDate, ToDate, Reason, CurrentStatusID)
    VALUES (@CreatedByUserID, @LeaveTypeID, @ReasonOptionID, @FromDate, @ToDate, @Reason, @InprogressID);

    DECLARE @RequestID INT = SCOPE_IDENTITY();

    INSERT INTO dbo.LeaveRequestHistory(RequestID, FromStatusID, ToStatusID, ActionByUserID, Note)
    VALUES (@RequestID, NULL, @InprogressID, @CreatedByUserID, N'Create request');

    SELECT @RequestID AS RequestID;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetLeaveBalanceForUser]    Script Date: 10/26/2025 2:45:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- NEW Proc: Get leave balance for a user/year
CREATE   PROCEDURE [dbo].[sp_GetLeaveBalanceForUser]
    @UserID INT,
    @Year   INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        lt.TypeCode, lt.TypeName, 
        lb.[Year], lb.CarryOver, lb.UsedDays, lb.BalanceDays,
        (lb.CarryOver + lb.BalanceDays) AS RemainingIncludingCarry
    FROM dbo.LeaveBalances lb
    JOIN dbo.LeaveTypes lt ON lt.LeaveTypeID = lb.LeaveTypeID
    WHERE lb.UserID = @UserID AND lb.[Year] = @Year
    ORDER BY lt.TypeCode;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetRequestsForUserAndSubtree]    Script Date: 10/26/2025 2:45:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Proc: Get requests for a user and their subtree
CREATE   PROCEDURE [dbo].[sp_GetRequestsForUserAndSubtree]
    @UserID INT,
    @From DATE = NULL,
    @To   DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF (@From IS NULL) SET @From = DATEFROMPARTS(YEAR(SYSDATETIME()),1,1);
    IF (@To   IS NULL) SET @To   = DATEFROMPARTS(YEAR(SYSDATETIME()),12,31);

    ;WITH sub AS (
        SELECT u.UserID
        FROM dbo.Users u
        WHERE u.UserID = @UserID
        UNION ALL
        SELECT u2.UserID
        FROM dbo.Users u2
        JOIN sub s ON u2.CurrentManagerID = s.UserID
    )
    SELECT 
        r.RequestID, r.RequestCode, r.CreatedAt,
        u.FullName AS CreatedBy, d.DivisionName,
        lt.TypeName, r.FromDate, r.ToDate,
        rs.StatusName AS CurrentStatus,
        r.DaysBusiness, r.DaysCalendar
    FROM dbo.LeaveRequests r
    JOIN sub s ON s.UserID = r.CreatedByUserID
    JOIN dbo.Users u ON u.UserID = r.CreatedByUserID
    JOIN dbo.Divisions d ON d.DivisionID = u.DivisionID
    JOIN dbo.LeaveTypes lt ON lt.LeaveTypeID = r.LeaveTypeID
    JOIN dbo.RequestStatuses rs ON rs.StatusID = r.CurrentStatusID
    WHERE r.FromDate <= @To AND r.ToDate >= @From
    ORDER BY r.CreatedAt DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_RequestChangeLog_Get]    Script Date: 10/26/2025 2:45:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- NEW Proc: Get change log of a request
CREATE   PROCEDURE [dbo].[sp_RequestChangeLog_Get]
    @RequestID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM dbo.LeaveRequestChangeLog WHERE RequestID = @RequestID ORDER BY ChangeAt DESC, ChangeID DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ReviewLeaveRequest]    Script Date: 10/26/2025 2:45:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Proc: Review (approve / reject)
CREATE   PROCEDURE [dbo].[sp_ReviewLeaveRequest]
    @ApproverUserID INT,
    @RequestID      INT,
    @Approve        BIT,
    @Note           NVARCHAR(1000) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ApprovedID INT = (SELECT TOP 1 StatusID FROM dbo.RequestStatuses WHERE StatusCode = N'APPROVED');
    DECLARE @RejectedID INT = (SELECT TOP 1 StatusID FROM dbo.RequestStatuses WHERE StatusCode = N'REJECTED');
    DECLARE @CurrentStatusID INT, @CreatorID INT;

    SELECT @CurrentStatusID = CurrentStatusID, @CreatorID = CreatedByUserID
    FROM dbo.LeaveRequests WHERE RequestID = @RequestID;

    IF @CurrentStatusID IS NULL
        RAISERROR (N'Request không tồn tại.', 16, 1);

    IF NOT EXISTS (
        SELECT 1 FROM dbo.Users u WHERE u.UserID = @CreatorID AND u.CurrentManagerID = @ApproverUserID
    )
    BEGIN
        PRINT N'Warning: Approver không phải manager trực tiếp. (Nên kiểm tra ở tầng ứng dụng)';
    END

    DECLARE @ToStatus INT = IIF(@Approve = 1, @ApprovedID, @RejectedID);

    INSERT INTO dbo.LeaveRequestHistory(RequestID, FromStatusID, ToStatusID, ActionByUserID, Note)
    VALUES (@RequestID, @CurrentStatusID, @ToStatus, @ApproverUserID, @Note);

    IF (@Approve = 0)
    BEGIN
        UPDATE dbo.LeaveRequests
        SET CurrentStatusID = @RejectedID,
            RejectedNote = @Note,
            ApprovedByUserID = NULL,
            ApprovedAt = NULL,
            UpdatedAt = SYSDATETIME()
        WHERE RequestID = @RequestID;
    END

    SELECT N'Done' AS Result;
END

GO
